<h1>The Project</h1>

<p>The layout of this project is from instructions provided by the Make It With Code course.</p>

<p><a href="https://github.com/miwc/3-miwc-webapp" target="_blank">Lesson 3</a> provides all the details on how to do this, though it is in a private repository.</p>