<h1>Tweet us</h1>

<p>You can find us on <a href="http://www.twitter.com/makeitwithcode">Twitter!</a></p>

<p>Normally, this page would appear on the <a href="/contact">contacts page</a>, but this is just a test of functionality at this point.</p>